/.pabotsuitenames
/.vscode
/browser
/interactive_console_output.xml
/log.html
/output.xml
/playwright-log-1730120435695459900.txt
/playwright-log-1730405394415633300.txt
/playwright-log.txt
/report.html
/results