# Bibliotecas necessárias para o projeto de automação com Robot Framework

robotframework                   # Framework principal de automação
robotframework-browser           # Biblioteca para automação de navegadores
robotframework-faker             # Biblioteca para gerar dados falsos
requests                         # Biblioteca para fazer requisições HTTP (se necessário)
pytest                           # Biblioteca para testes adicionais
robotframework-pabot             # Biblioteca para execução dos testes em paralelismo